<h2>All Historical Landmarks</h2>

  <% @landmarks.each do |landmark|%>
    <p><%= landmark.name %></p>
    <p><%= landmark.year_completed %></p>
  <% end %>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
